// subject color
$subject-color: #ffa733;

page {
  --subject-color: #ffa733;
}

.z-9 {
  z-index: 9;
}

.map {
  height: 1200rpx;
  width: 828rpx;
}

.bdr-15 {
  border-radius: 15rpx;
}

.bgc-e8 {
  background-color: #e8e8e8;
}

.jcsb {
  justify-content: space-between;
}

.fz-14 {
  font-size: 28rpx !important;
}

.fz-12 {
  font-size: 24rpx !important;
}

.fz-16 {
  font-size: 32rpx !important;
}

.fz-15 {
  font-size: 30rpx !important;
}

.fz-10 {
  font-size: 20rpx !important;
}

.fw {
  font-weight: 800;
}

.fw-100 {
  font-weight: normal;
}

//#region 动画

.hover {
  transform: scale(0.98);
}

.both-sides .button-both-sides {
  transition: 0.1s all;
  left: 0;
  right: 0;
  opacity: 1;
}

.button-both-sides {
  transition: 0.1s all;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  background-color: #e5e5e5;
  z-index: 1;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    // margin-top: 0px;
    transform: translateX(0%);
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    // margin-top: -50px;
    transform: translateX(-100%);
  }
}

//#endregion